body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
<a
 href="./reset.css" rel="stylesheet" type="text/css">./reset
</a>
<a
  href="https://fonts.googleapis.com/css?family=Work+Sans:300,500,600" rel="stylesheet">Sans_font
  </a>
<a
  href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">Poppins_font
</a> 
